{% extends 'base.html' %} {% block content %}

<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center mb-4">
      Add Review for {{ movie.title }}
    </h5>
    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
    {% endif %}
    <form method="POST">
      {% csrf_token %} {{ form.as_p }}

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary btn-lg btn-animate">
          Add Review
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
