{% extends "base.html" %}
{% block content %}
<div class="card  bg-light  col-4 mx-auto">
  <div class="row g-0">
    <div>
      <div class="card-body">
        <h5 class="card-title text-center">Login</h5>
        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <p class="card-text">
          <form method="POST" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
        <div class="text-center" >
            <button type="submit" class="btn btn-primary text-center">Login</button>
        </div>

          </form>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}